---
layout: home
title: Friends Of REDAXO
---

{% assign repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse %}

{% for repository in repos %}
    {% capture stars_count %} {{ stars_count | plus: repository.stargazers_count }} {% endcapture %}
{% endfor %}

<div class="stats">
    <p class="stats__text">
        <span class="stats__text-item"><strong>{{ site.github.organization_members | size }}</strong> Mitglieder</span>,
        <span class="stats__text-item"><strong>{{ site.github.public_repositories | size }}</strong> Projekte</span>,
        <span class="stats__text-item"><strong>{{ stars_count }}</strong> Sterne</span>
    </p>
</div>

<div class="info">
    <p class="info__text">Friends Of REDAXO ist der Ort für gemeinsame REDAXO-Entwicklung!<br>
        <a class="info__calltoaction" href="{% link info.html %}">Informationen zum Projekt</a></p>
</div>

<ol class="highscore">
    {% for repository in repos %}
    <li class="highscore__item">
        <a class="highscore__item-link" href="{{ repository.html_url }}">{{ repository.name }}</a> <span class="highscore__item-stars">{{ repository.stargazers_count }}</span>
    </li>
    {% endfor %}
</ol>
