---
layout: home
title: Friends Of REDAXO
---

{% assign repos = site.github.public_repositories | where_exp: 'repo', 'repo.name != ".github"' | sort: 'stargazers_count' | reverse %}

{% for repository in repos %}
    {% capture stars_count %} {{ stars_count | plus: repository.stargazers_count }} {% endcapture %}
{% endfor %}

<div class="stats">
    <p class="stats__text">
        <span class="stats__text-item"><strong>{{ site.github.organization_members | size }}</strong> Mitglieder</span>,
        <span class="stats__text-item"><strong>{{ repos | size }}</strong> Projekte</span>,
        <span class="stats__text-item"><strong>{{ stars_count }}</strong> Sterne</span>
    </p>
</div>

<div class="info">
    <p class="info__text">Friends Of REDAXO ist der Ort für gemeinsame REDAXO-Entwicklung!<br>
        <a class="info__calltoaction" href="{% link info.html %}">Informationen zum Projekt FriendsOfREDAXO</a><br>
    <a class="info_calltoaction" href="https://github.com/FriendsOfREDAXO/tricks">Weiter zu den REDAXO-Tricks aus der Community</p>
    
</div>

<ol class="highscore">
    {% for repository in repos %}
        {% if repository.archived == false %}
            {% include list-item.html %}
        {% endif %}
    {% endfor %}
</ol>

<div class="contentblock">
    <h4>Archivierte Projekte</h4>
</div>

<ol class="highscore">
    {% for repository in repos %}
        {% if repository.archived == true %}
            {% include list-item.html %}
        {% endif %}
    {% endfor %}
</ol>

<small class="timestamp">Stand: {{ site.time | date: "%d.%m.%Y, %H:%M" }} Uhr</small>
