---
layout: home
title: Friends Of REDAXO
---

{% assign repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse %}

{% for repository in repos %}
    {% capture stars_count %} {{ stars_count | plus: repository.stargazers_count }} {% endcapture %}
{% endfor %}

<div class="stats">
    <p class="stats__text">
        <span class="stats__text-item"><strong>{{ site.github.organization_members | size }}</strong> Mitglieder</span>,
        <span class="stats__text-item"><strong>{{ site.github.public_repositories | size }}</strong> Projekte</span>,
        <span class="stats__text-item"><strong>{{ stars_count }}</strong> Sterne</span>
    </p>
</div>

<div class="info">
    <p class="info__text">Friends Of REDAXO ist der Ort für gemeinsame REDAXO-Entwicklung!<br>
        <a class="info__calltoaction" href="{% link info.html %}">Informationen zum Projekt</a></p>
</div>

<ol class="highscore">
    {% for repository in repos %}

    {% assign member = false %}
    {% if site.data.projects[repository.name].lead %}
        {% assign memberResult = site.github.organization_members | where: 'login', site.data.projects[repository.name].lead %}
        {% assign member = memberResult.first %}
    {% endif %}

    {% assign isnew = false %}
    {% capture created %} {{ repository.created_at | date: '%s'}} {% endcapture %}
    {% capture transferred %} {{ site.data.projects[repository.name].transferred_at | date: '%s'}} {% endcapture %}
    {% capture duedate %} {{ 'now' | date: '%s' | minus: '1209600' }} {% endcapture %}

    {% if transferred and transferred > duedate %}
        {% assign isnew = true %}
    {% elsif created and created > duedate %}
        {% assign isnew = true %}
    {% endif %}

    {% if member %}
        {% assign user_url = member.html_url %}
        {% assign user_name = member.login %}
        {% assign user_avatar = member.avatar_url + '&s=100' %}
    {% else %}
        {% assign user_url = site.github.owner_url %}
        {% assign user_name = site.github.owner_name %}
        {% assign user_avatar = site.github.owner_gravatar_url %}
    {% endif %}
    
    <li class="highscore__item">
        <div class="highscore__item-col highscore__item-col--1">
            <div class="highscore__avatar">
                <a class="highscore__avatar-link" href="{{ user_url }}" title="Lead: {{ user_name }}">
                    <img class="highscore__avatar-img" src="{{ user_avatar }}" alt="{{ user_name }}">
                </a>
            </div>
        </div>
        <div class="highscore__item-col highscore__item-col--2">
            <a class="highscore__item-link" href="{{ repository.html_url }}">
                <span class="highscore__item-name">
                    {{ repository.name }}
                    {% if isnew %}<span class="highscore__item-marker">Neu</span>{% endif %}
                </span>
                <span class="highscore__item-description">
                    {{ repository.description | replace: '🐣', '<span class="kueken" title="Projekt ist noch nicht final!">🐣</span>' }}
                </span>
            </a>
        </div>
        <div class="highscore__item-col highscore__item-col--3">
            <a class="highscore__stars-link" href="{{ repository.html_url }}">
                <span class="highscore__item-stars">{{ repository.stargazers_count }}</span>
                <svg aria-hidden="true" class="octicon octicon-star" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>
            </a>
        </div>
    </li>
    {% endfor %}
</ol>

<small class="timestamp">Stand: {{ site.time | date: "%d.%m.%Y, %H:%M" }} Uhr</small>
