<footer class="site-footer">
    <div class="wrapper">

        <div class="badges">

            <div class="badges__column">
                <a class="badge badge--slack" href="https://redaxo.org/slack/" title="Slack">
                    <span class="badge__icon icon icon--slack">{% include_relative assets/svg/slack.svg %}</span>
                    <span class="badge__title">Slack Chat</span>
                </a>
            </div>

            <div class="badges__column">
                <a class="badge badge--github" href="https://github.com/FriendsOfREDAXO" title="FriendsOfREDAXO">
                    <span class="badge__icon icon icon--github">{% include_relative assets/svg/github.svg %}</span>
                    <span class="badge__title">GitHub</span>
                </a>
            </div>

            <div class="badges__column">
                <a class="badge badge--map" href="https://friendsofredaxo.github.io/community/" title="Community Map">
                    <span class="badge__icon icon icon--map">{% include_relative assets/svg/location.svg %}</span>
                    <span class="badge__title">Community Map</span>
                </a>
            </div>
            <div class="badges__column">
                <a class="badge badge--jetbrains" href="https://www.jetbrains.com/" title="Jetbrains">
                    <span class="badge__icon icon icon--jetbrains">{% include_relative assets/svg/jetbrains.svg %}</span>
                    <span class="badge__title">Sponsored by JetBrains</span>
                </a>
            </div>

        </div>

    </div>
</footer>