<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/icons/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/icons/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/icons/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/icons/manifest.json" | relative_url }}">
    <link rel="mask-icon" href="{{ "/icons/safari-pinned-tab.svg" | relative_url }}" color="#3998d4">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Prefetch external Domains -->
    <link rel="dns-prefetch" href="//raw.githubusercontent.com">
    <link rel="dns-prefetch" href="//github.com">
    <link rel="dns-prefetch" href="//avatars0.githubusercontent.com">
    <link rel="dns-prefetch" href="//avatars1.githubusercontent.com">
    <link rel="dns-prefetch" href="//avatars2.githubusercontent.com">
    <link rel="dns-prefetch" href="//avatars3.githubusercontent.com">

    {% seo %}
</head>