---
---

$brand-color: #178dd1; // TREX blue, litte darker
$brand-color-2: #2b354b; // TREX dark blue
$text-color: $brand-color-2;

@import "{{ site.theme }}";

html {
  height: auto;
  min-height: 100%;
  max-height: none;
  background-color: #f5f6f6;
  background-image: -webkit-linear-gradient(4deg, #d6dadd 35%, #f5f6f6 65%);
  background-image: linear-gradient(86deg, #d6dadd 35%, #f5f6f6 65%);
}

/* _base.scss (minima theme) overrides */

body {
  background-color: transparent;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover,
  &:focus {
    color: darken($brand-color, 10%);
    text-decoration: none;
  }
}

/* _layout.scss (minima theme) overrides */

.site-header {
  border: 0;
  min-height: auto;
  padding: 30px 0 0 0;
}

.site-nav {
  display: none; // hide mobile nav
}

.post-content {

  h1,
  h2,
  h3,
  h4 {
    padding-top: 0.5em;
  }

  h2 + h3 {
    padding-top: 0;
  }

  h1 {
    font-size: 44px;
    line-height: 1.2;
    padding-top: 0.2em;

    @include media-query($on-laptop) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 1.3;
    padding-bottom: 0.2em;
    border-bottom: 1px solid rgba($text-color, 0.2);

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
}

/* stats */

.stats {
  text-align: center;
  margin-bottom: 1em;
  margin-top: -20px;
}

.stats__text {
  font-size: 2em;
  line-height: 1.2;

  @include media-query($on-palm) {
    font-size: 1.7em;
  }
}

.stats__text-item {
  white-space: nowrap;
}

/* info */

.info {
  text-align: center;
  margin-bottom: 2em;
}

.info__text {
}

.info__calltoaction {
  font-weight: bold;
}

/* highscore */

.highscore {
  list-style: none;
  margin: 0 0 0.7em 0;
  font-size: 1.3em;
}

.highscore__item {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.highscore__item-col {
  padding: 0 1em;

  @include media-query($on-palm) {
    padding: 0;
  }
}

.highscore__item-col--1 {
  padding-right: 0.5em;

  @include media-query($on-palm) {
    padding-left: 0.5em;
    padding-right: 0;
  }
}

.highscore__item-col--2 {
  flex: 1;
  padding-left: 0;
  padding-right: 0;
}

.highscore__item-col--3 {
  padding-right: 1em;

  @include media-query($on-palm) {
    padding-right: 0;
  }
}

.highscore__item-link,
.highscore__item-link:visited {
  display: block;
  padding: 0.6em 0.5em;
  text-decoration: none !important;
}

.highscore__item-name {
  display: block;
  word-break: break-all;
  font-size: 1em;
  line-height: 1.2;
}

.highscore__item-description {
  display: block;
  padding-top: 0.2em;
  font-size: 0.75em;
  line-height: 1.3;
  color: rgba($text-color, 0.8);
}

.highscore__item-marker {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.3em;
  color: #fff;
  background: #eedd00;
}

.highscore__stars-link,
.highscore__stars-link:visited {
  display: block;
  padding: 0.6em 0.5em;
  text-decoration: none !important;
  color: rgba($text-color, 0.7);
}

.highscore__item-stars {
}

.highscore__avatar {
  width: 45px;
}

.highscore__avatar-link {
  display: block;
  padding: 5px;
  margin: -5px;
}

.highscore__avatar-img {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;
}

/* trex */

.trex {
  text-align: center;
}

a.trex__link {
  display: inline-block;
  position: relative;
  color: $brand-color-2;

  &:hover,
  &:focus {
    color: $brand-color;
  }

  &:after {
    content: 'Home';
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    position: absolute;
    right: 100%;
    bottom: 55px;
    margin-right: -40px;
  }
}

.trex__image {
  display: inline-block;
  width: auto;
  height: 80px;
}

/* link home */

.link-home {
  margin: -20px 0 10px 0;
}

.link-home__link {
}

/* timestamp */

.timestamp {
  display: block;
  text-align: center;
}

/* octicon icon */

.octicon-star {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 16px;
  fill: currentColor;
  transform: translateY(-10%);
}

/* footer */

.site-footer {
  border-top: 0;
  text-align: center;
  padding-top: 0;
}

a.github-badge {
  display: inline-block;
  vertical-align: middle;
  color: $grey-color;
  font-size: 14px;

  &:hover,
  &:focus {
    color: $brand-color;
    text-decoration: none;
  }

  .icon--github {
    > svg {
      width: 40px;
      height: 40px;

      path {
        fill: currentColor;
      }
    }
  }

  .username {
    display: block;
    padding-top: 5px;

    span {
      padding: 0 1px;
    }
  }
}

/* Küken
   https://github.com/FriendsOfREDAXO/friendsofredaxo.github.io/issues/57
 */

.kueken {
  display: inline-block;
  transition: 150ms ease-out;

  &:hover {
    transform: scale3d(1.4, 1.4, 1) rotate3d(1, 1, 1, 7deg);
  }
}