---
---

@import "{{ site.theme }}";

html {
  height: auto;
  min-height: 100%;
  max-height: none;
  background-color: #f5f6f6;
  background-image: -webkit-linear-gradient(4deg, #d6dadd 35%, #f5f6f6 65%);
  background-image: linear-gradient(86deg, #d6dadd 35%, #f5f6f6 65%);
}

/* _base.scss (minima theme) overrides */

body {
  background-color: transparent;
}

/* _layout.scss (minima theme) overrides */

.site-header {
  border: 0;
  min-height: auto;
  padding: 30px 0 0 0;
}

.site-nav {
  display: none; // hide mobile nav
}

.post-content {
  h1 {
    font-size: 40px;

    @include media-query($on-laptop) {
      font-size: 32px;
    }
  }
}

/* stats */

.stats {
  text-align: center;
  margin-bottom: 1em;
  margin-top: -20px;
}

.stats__text {
  font-size: 2em;
  line-height: 1.2;
}

.stats__text-item {
  white-space: nowrap;
}

/* info */

.info {
  text-align: center;
  margin-bottom: 2em;
}

.info__text {
}

.info__calltoaction {
  font-weight: bold;
}

/* highscore */

.highscore {
  list-style: none;
  margin: 0 0 1em 0;
  font-size: 1.3em;
}

.highscore__item {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.highscore__item-col {
  padding: 0 1.5em;

  @include media-query($on-palm) {
    padding: 0 0.5em;
  }
}

.highscore__item-col--1 {
  padding-right: 0.5em;
}

.highscore__item-col--2 {
  flex: 1;
  padding-left: 0;
  padding-right: 0;
}

.highscore__item-col--3 {
  padding-right: 1em;

  @include media-query($on-palm) {
    padding-right: 0;
  }
}

.highscore__item-link {
  display: block;
  padding: 0.6em 0.5em;
  text-decoration: none !important;
  word-break: break-all;
}

.highscore__stars-link {
  display: block;
  padding: 0.6em 0.5em;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.5);
}

.highscore__item-stars {
}

.highscore__avatar {
  width: 35px;
}

.highscore__avatar-link {
  display: block;
  padding: 5px;
  margin: -5px;
}

.highscore__avatar-img {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  overflow: hidden;
}

/* trex */

.trex {
  text-align: center;
}

.trex__link {
  display: inline-block;
}

.trex__image {
  display: inline-block;
  width: auto;
  height: 70px;
}

/* link home */

.link-home {
  margin: -20px 0 0 0;
}

.link-home__link {
}

/* timestamp */

.timestamp {
  display: block;
  text-align: center;
}

/* octicon icon */

.octicon-star {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 16px;
  fill: currentColor;
  transform: translateY(-10%);
}